---
interface Props {
  disabled?: boolean;
  id: string;
}

const { id, disabled = false } = Astro.props;
---

<div>
  <button
    id={`${id}_default`}
    data-dropdown-toggle={id}
    class="text-[#444] bg-white border border-[#aaaaaa] rounded-[10px] w-52 focus:outline-none text-sm px-4 py-2.5 text-center inline-flex items-center justify-between hover:border-[#222] focus:border-[#222] disabled:cursor-not-allowed disabled:opacity-20 disabled:border-0 disabled:bg-[#aaaaaa]"
    type="button"
    disabled={disabled}
  >
    <span>TEXT</span>
    <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
    </svg>
  </button>
  <!-- Dropdown menu -->
  <div id={id} class="z-10 hidden bg-white w-52">
    <div class="-mt-[20px] bg-white pt-[9px] border border-t-0 border-r-[#222] border-l-[#222] border-b-[#222] rounded-b-[10px] overflow-hidden">
      <ul class="text-sm text-gray-700 bg-white dark:text-gray-200 border border-b-0 border-l-0 border-r-0 border-t-[#999]" aria-labelledby={`${id}_default`}>
        <li>
          <button
            type="button"
            onclick="document.querySelector('#dropdown').classList.add('hidden');document.querySelector('#dropdownDefault span').innerHTML=this.innerHTML"
            class="block w-full text-left px-4 py-2 hover:bg-[#d1e7f4] text-[#222] hover:text-[#3578d1] hover:underline"
          >
            TEXT 01
          </button>
        </li>
        <li>
          <button
            type="button"
            onclick="document.querySelector('#dropdown').classList.add('hidden');document.querySelector('#dropdownDefault span').innerHTML=this.innerHTML"
            class="block w-full text-left px-4 py-2 hover:bg-[#d1e7f4] text-[#222] hover:text-[#3578d1] hover:underline"
          >
            TEXT 02
          </button>
        </li>
        <li>
          <button
            type="button"
            onclick="document.querySelector('#dropdown').classList.add('hidden');document.querySelector('#dropdownDefault span').innerHTML=this.innerHTML"
            class="block w-full text-left px-4 py-2 hover:bg-[#d1e7f4] text-[#222] hover:text-[#3578d1] hover:underline"
          >
            TEXT 03
          </button>
        </li>
        <li>
          <button
            type="button"
            onclick="document.querySelector('#dropdown').classList.add('hidden');document.querySelector('#dropdownDefault span').innerHTML=this.innerHTML"
            class="block w-full text-left px-4 py-2 hover:bg-[#d1e7f4] text-[#222] hover:text-[#3578d1] hover:underline"
          >
            TEXT 04
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
